<!-- displays all user and a list of podcasts when logged in -->
<div class="prompts">
<h2> Welcome, <%= @user.username%>! </h2>

<a class="button" href="/users/<%=@user.slug%>">View Your Podcast List</a>
<br>
<a class="button" href="/podcasts/new">Add a new podcast</a>
</div>

<div class="feed_container">
<h3>Feed: </h3>
  <% User.all.each do |user| %>
  <h4>Username: <a href="/users/<%=user.slug%>"><%= user.username %> </a></h4>
  <h5> Podcasts: </h5>
  <% user.podcasts.each do |podcast| %>
    <ul>
      <li class="feed"> <a href='/podcasts/<%=podcast.id%>'><%= podcast.title %></a> </li>
    </ul>
    <% end %>
<% end %>
</div>
