<div class="feed_container">
<h3>Title: <%= @podcast.title %> </h3>
<p>Description: <%= @podcast.description %> </p>

<form method="post" action="/podcasts/<%=@podcast.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input class= "button" type="submit" value="Delete Podcast">
</form>
<br>
<a class="button" href="/podcasts/<%=@podcast.id%>/edit">Edit</a>
<br>
<a class="button" href="/podcasts/<%=@podcast.id%>/copy">Copy to your list</a>
</div>